#map {
    z-index: 1;
    height: 100%;
}

.container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: transparent;
}
.nav-menu {
  padding-top: 60px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(45deg,rgba(117, 127, 154, 0.45),rgba(215, 221, 232, 0.68));
  background-image: linear-gradient(45deg,rgba(117, 127, 154, 0.45),rgba(215, 221, 232, 0.68));
  position: relative;
}
.sidebar {
  overflow: scroll;
  overflow-x: auto;
  padding: 0;
  width: 100vw;
  min-height: 150px;
  max-height: 20%;
  position: relative;
  z-index: 2;
  background-image: -webkit-linear-gradient(45deg,rgba(117, 127, 154, 0.45),rgba(215, 221, 232, 0.68));
  background-image: linear-gradient(45deg,rgba(117, 127, 154, 0.45),rgba(215, 221, 232, 0.68));
}

.navbar {
    background-color: #d7dde8;

    height: 60px;
}

.menu-button {
    float: left;
}

.icon {
    color: #000;
    font-size: 30px;
}

.menu-button {
    z-index: 10;
    float: left;
}

.menu-button.w--open {
    z-index: 10;
    background-color: transparent;
}

.nav-menu {
    padding-top: 60px;
    background-color: transparent;
    background-image: -webkit-linear-gradient(45deg, #757f9a, #d7dde8 99%);
    background-image: linear-gradient(45deg, #757f9a, #d7dde8 99%);
  position: relative;
}

.location-item {
    padding: 4px;
}

@media (min-width: 980px) {
    .nav-menu {
        padding-top: 60px;
        background: #d7dde8 none;
    }

}
